HTML,
body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: darkslategray;
}

@font-face {
  font-family: DINPro;
  src: url(./font/DINPro.otf);
}

* {
  margin: 0;
  padding: 0;
}

.box {
  position: relative;
  width: 20%;
  height: 7%;
  top: 5%;
  left: 95%;
  transform: translate(-95%, -5%);
}

.innerbox {
  position: relative;
  width: 90%;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a181b;
  background-color: rgb(161, 0, 161) ;
  border-radius: 2rem;
}

.outline {
  position: relative;
  width: 98%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a181b;
  border-radius: 2rem;
}

.logo {
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
}

.border {
  position: relative;
  width: 60%;
  height: 70%;
  top: 50%;
  left: 80%;
  transform: translate(-80%, -50%);
  background-color: #121113;
  border-radius: 50%;
}

.border img {
  position: relative;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.micro {
  position: relative;
  width: 37.5%;
  height: 100%;
  float: left;
}

.money {
  position: relative;
  height: 100%;
  width: 42.5%;
  float: left;
}

.moneyhud {
  position: relative;
  width: 80%;
  height: 70%;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%);
  background-color: #121113;
  border-radius: 2rem;
}

.moneyhud h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #8f00b3;
  font-size: 18px;
  font-family: "DINPro";
}

.microimg {
  position: relative;
  width: 30%;
  height: 100%;
  float: left;
}

.voicerange {
  position: relative;
  width: 70%;
  height: 100%;
  float: left;
}

.wrapper {
  position: relative;
  width: 90%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #121113;
  border-radius: 2rem;
}

.microimg img {
  position: relative;
  width: 60%;
  top: 50%;
  left: 90%;
  transform: translate(-90%, -50%);
}

.outerbalken {
  position: relative;
  width: 70%;
  height: 6%;
  top: 50%;
  left: 25%;
  transform: translate(-25%, -50%);
  border-radius: 2rem;
}

.balken {
  position: relative;
  width: 100%;
  background-color: rgb(161, 0, 161);
  border-radius: 2rem;
  height: 100%;
}
